gensim>=4.3.3
gymnasium>=0.29.0
imageio>=2.35.0
keras>=3.13.1
nltk>=3.8.1
pandas>=2.2.2
pillow>=10.4.0
pygame-ce>=2.5.3
scikit-image>=0.24.0
seaborn>=0.13.2
smart-open>=7.0.4
tensorflow>=2.17.0; python_version < "3.13"
tensorboard>=2.17.1; python_version < "3.13"
tokenizers>=0.20.0
torchinfo>=1.8.0
tqdm>=4.66.5
jupyter
notebook
